{% extends 'base.html' %}
{% block title %} LinkWeb {% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='styles/landing.css') }}" type="text/css"> {% endblock %}
{% block content %}
    <main id="root">
        <h1>
            LinkWeb
        </h1>
        <div class="container">
            <div>
                <a href="login">
                    <button class="menu-option" id="login" type="button">
                        Login
                    </button>
                </a>
            </div>
            <br>
            <div>
                <a href="signup">
                    <button class="menu-option" id="sign-up" type="button">
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </main>
{% endblock %}