{% extends "base.html" %} 
{% block title %}Login{% endblock %} 
{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}" type="text/css">  {% endblock %}
{% block content %}
    <div id="root">
        <div>
            <h1>
                LinkWeb
            </h1>
        </div>
        <div class="container">
            <form action="/login" method="post">
                <div class="options-form">
                    <label for="login-username" id="username-label">Email Address</label>
                    <input class="input-block" id="login-username" placeholder="Email Address" name="email" type="email">
                    <br>
                    <label for="login-password" id="password-label">Password</label>
                    <input class="input-block" id="login-password" placeholder="Password" name="password" type="text">
                    <br>
                    <input type="submit" value="Login" id="submit-button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}