{% extends 'base.html'%} 
{% block title %}Sign Up{% endblock %}
{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='styles/signup.css') }}" type="text/css"> {% endblock %}
{% block content %}
    <div id="root">
        <h1>LinkWeb</h1>
        <div class="container">
            <form action="/signup" method="post">
                <div class="form-container">
                    <label for="login-username" class="form-label">Username</label>
                    <input class="input-block" id="login-username" placeholder="Username" name="username" type="text">
                    <br>
                    <label for="login-email" class="form-label">Email Address</label>
                    <input class="input-block" id="login-email" placeholder="Email Address" name="email" type="email">
                    <br>
                    <label for="login-password1" class="form-label">Password</label>
                    <input class="input-block" id="login-password1" placeholder="Password" name="password1" type="text">
                    <br>
                    <label for="login-password2" class="form-label">Confirm Password</label>
                    <input class="input-block" id="login-password2" placeholder="Password" name="password2" type="text">
                    <br>
                    <input type="submit" value="Sign Up" id="submit-button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}