<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <div class="container" action="/signup" method="post">
            <form>
                <label for="login-username" id="username-label">Email address or username</label>
                <input class="input-block" id="login-username" placeholder="Email address or username" name="email-username" type="text">
                <br>
                <label for="login-password" id="password-label">Password</label>
                <input class="input-block" id="login-password" placeholder="Password" name="password" type="text">
                <br>
                <input type="submit" value="Sign Up" id="submit-button">
            </form>
        </div>
    </div>
    
</body>
</html>